.box {
	margin-top: 40px;
	margin-bottom: 20px;
	min-height: 150px;
	background-color: #F5F5F5;
}
h4 {
    margin-top: 50px;
    padding-bottom: 10px;
    font-size: 40px;
    border-bottom: 2px solid;
}
img {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}
.bg-info {
	margin-bottom: 30px;
}
.height {
	height: 150px;
}
.carousel-indicators {
    bottom: 35px;
}
.carousel-caption {
    bottom: 60px;
}